---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF: true
IndentCaseLabels: true
NamespaceIndentation: None
AlignConsecutiveAssignments: Consecutive
# AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true 
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: BinPack
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  # Third-party
  - Regex: '^<(SDL3|box2d|imgui|flecs|inicpp|backends|misc)[/.]'
    Priority: 2
  # Engine headers
  - Regex: '^<(ncore|kernel|modules|utils|runtime|scene)[/.]'
    Priority: 3
  # Game headers
  - Regex: '^<microcosmos[/.]'
    Priority: 4
  # C++ standard library
  - Regex: '^<[a-z_][a-z_0-9.]*>$'
    Priority: 1
  # Local dir
  - Regex: '^".*'
    Priority: 5
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeAssignmentOperators: true
SpacesInAngles: Never
SpacesInParens: Custom
SpacesInParensOptions:
  ExceptDoubleParentheses: false
  # this doesnt seem to work with clang-format version 19.1.5 (bundled in VS 2022)
  InConditionalStatements: false
  InEmptyParentheses: false
  InCStyleCasts: true
  Other: true
MacroBlockBegin: ''
MacroBlockEnd: ''
...
