[submodule "ncore/external/box2d"]
	path = ncore/external/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "ncore/external/imgui"]
	path = ncore/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ncore/external/sdl"]
	path = ncore/external/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "ncore/external/flecs"]
	path = ncore/external/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "ncore/external/catch2"]
	path = ncore/external/catch2
	url = https://github.com/catchorg/Catch2/
[submodule "ncore/external/diligent-core"]
	path = ncore/external/diligent-core
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "ncore/external/mimalloc"]
	path = ncore/external/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "ncore/external/tracy"]
	path = ncore/external/tracy
	url = https://github.com/wolfpld/tracy.git
