**/bin/
!premake/
bin-int/

out/
build/
cmake-build-debug/
cmake-build-release/
cmake-build-dist/
**/Testing

# visual studio project files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

.idea/

**.**.bak

imgui.ini

CMakeUserPresets.json
vcpkg_installed/

.opencode/
graphify-out/
