**/bin/
!premake/
bin-int/

out/
build/
cmake-build-debug/
cmake-build-release/
cmake-build-dist/

# visual studio project files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

.idea/

**.**.bak

imgui.ini

CMakeUserPresets.json
