[Window]
SizeWidth = 1280
SizeHeight = 720
Fullscreen = false

[Render]
PixelsPerMeter = 32

[Runtime]
DefaultWorld = MicrocosmWorld

; Log settings
; Levels are: 0 = Trace, 1 = Debug, 2 = Info, 3 = Warning, 4 = Error, 5 = Critical
; You can override the following log cateogories: engine, game phys, render, input, audio, ecs
; For example: "phys:2, render:4" sets the log level for the "phys" category to 2 (Info)
; and the "render" category to 4 (Error)
[Log]
Level = 1
FilePath = logs/engine.log
Overrides = phys:2, render:4
